@import "../config/variables.scss";
.header {
  nav {
    padding: 24px;
  }
  &__logo {
    img {
    }
  }
  &__menu {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
  &__links {
    &--menu {
      list-style: none;
    }

    &--itemChild {
      color: $grayishBlue;
    }
  }
}
