$darkBlue: #7b0cf4;
$limeGreen: #7df46b;
$brightCyan: #62f4e4;
$grayishBlue: #83f48d;
$lightGrayishBlue: #c2f4de;
$veryLightGray: #c4f4c0;
$white: #fff;

//Font Size
$fontMid: 18px;
$fontSmall: 14px;
$fontBig: 22px;

//Font Weight
$fontRegular: 300;
$fontBold: 700;
